<!DOCTYPE html>
<html>
	<head>
		<title>Koutani Campfire</title>
		<%= stylesheet_link_tag 'custom', :media => 'screen' %>
	</head>
	<body>
		<table id="main" class="round" border="1">
			<td id="names">
				<table id="arthur" border="1">
					<tr>
						<th id="nameheader">Arthur</th>
					</tr>
				</table>
			</td>
			<td id="names">
				<table id="bryce" border="1">
					<tr>
						<th id="nameheader">Bryce</th>
					</tr>
				</table>
			</td>
			<td id="names">
				<table id="derek" border="1">
					<tr>
						<th id="nameheader">Derek</th>
					</tr>
				</table>
			</td>
			<td id="names">
				<table id="matt" border="1">
					<tr>
						<th id="nameheader">Matt</th>
					</tr>
				</table>
			</td>
		</table>
	</body>
</html>
