<!DOCTYPE html>
<html>
	<head>
		<title>Koutani Campfire</title>
		<%= stylesheet_link_tag 'custom', :media => 'screen' %>
	</head>
	<body>
		<table id="main" class="round">
			<tr>
				<th id="names">Arthur</th>
				<th id="names">Bryce</th>
				<th id="names">Derek</th>
				<th id="names">Matt</th>
			</tr>
		</table>
	</body>
</html>
