#main {
	padding: 25px;
	text-align: center;
	width: 100%;
	background-color: #E0FFF3;
}

.nameheader {
	width: 1%;
	border-bottom: solid;
}

.names {
	width: 25%;
}

#projname {
	text-align: center;
	width: 60%;
}

#edit {
	text-align: left;
	width: 10%;
}

#destroy {
	text-align: left;
	width: 10%;
}

#userid {
	text-align:left;
	width: 20%;
}

body {
	background-color: #FFF0E0;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}